{% extends 'main.html' %}
{% block content %}
<main>
  <section class="question-section">
    <div class="question">
      <h2>{{ question.title }}</h2>
      <p><b>Posted by: {{ question.user }}</b></p>
      <p>{{ question.content }}</p>
      <a href="{% url 'update-question' question.id %}" class="add-answer-button">Edit Question</a>
      {% if request.user.is_authenticated and request.user == question.user %}<a href="{% url 'delete-question' question.id %}" class="delete-answer-button">Delete Question</a>{% endif %}
      <div class="button-container">
        <a href="{% url 'add-answer' question.id %}" class="add-answer-button">Add Answer</a>
      </div>
    </div>
    <div class="answers">
      <h3>Answers</h3>
      {% for answer in answers %}
      <div class="answer">
        <p>
          <b>Posted by: {{ answer.user }}</b><br />
          {{ answer.content }}<br>
          <i>Likes:{{answer.total_likes}}</i><br>
          <a href="{% url 'update-answer' answer.id %}">Edit</a>
          <form action="{% url 'like-answer' answer.id %}" method="POST">
            {% csrf_token %} 
            <button type="submit" name="answer_id" value="{{answer.id}}" class="like-button">
              Like
            </button>
          </form>
        </p>
      </div>
      {% endfor %}
    </div>
  </section>
</main>
{% endblock content %}